html {
  font-size: 62.5%;
  overflow-x: hidden;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  color: #343a40;
  line-height: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 18px;
}

/* ******************************************************* */
/* HEADER */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0;
  width: 100%;
  height: 9.6rem;
  padding: 0 9.6rem;
  background-color: #033249;
  position: fixed;
  z-index: 999;
}

.logo {
  width: 9.6rem;
  height: 9.6rem;
}

.nav {
  display: inline-block;
  text-decoration: none;
}

.nav-link:link,
.nav-link:visited {
  font-size: 2.4rem;
  text-decoration: none;
  color: #ff8038;
  display: inline-block;
}

.nav-link:hover,
.nav-link:active {
  color: #e67332;
}

/* *************************************************** */
/* HERO SECTION */

.hero-section {
  margin-top: 9.6rem;
  padding: 4.8rem 0 9.6rem 0;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 3.2rem;
  justify-items: center;
  align-items: center;
  background-color: #033249;
}
.building {
  height: 20rem;
  padding: 3px;
  background-color: #033249;
  border: 2px solid white;
}

.primary-heading {
  color: #ccc;
  font-weight: 500;
  font-size: 4.8rem;
}

/* ******************************************************** */

h2 {
  font-size: 3.2rem;
  font-weight: 700;
  padding-bottom: 1.8rem;
}

/* ******************************************************** */
/* Table 1 */
.overview {
  margin: 9.6rem auto 0 auto;
  padding: 1rem;
}

.overview-table-section {
  max-width: 90vw;
  overflow-x: auto;
  margin: auto;
}
.overview-table {
  width: 100rem;
  font-size: 2rem;
  border: 1px solid #ccc;
  border-collapse: collapse;
}

.overview-head {
  border-right: 1px solid #ccc;
  padding: 16px 24px;
  text-align: left;
  width: 35rem;
}

.overview-data {
  border-right: 1px solid #ccc;
  padding: 16px 24px;
  text-align: left;
  line-height: 1.4;
}
/* *************************************************** */
/* Table 2 */

.course-offered {
  margin: 9.6rem auto 9.6rem auto;
  padding: 1rem;
}
.course-offered-table-section {
  max-width: 90vw;
  overflow-x: auto;
  margin: auto;
}

.course-offered-table {
  width: 100rem;
  font-size: 2rem;
  border: 1px solid #ccc;
  border-collapse: collapse;
}

.course-offered-name-head,
.course-offered-cutoff-head {
  background-color: #033249;
  color: #fff;
  width: 25%;
  border-right: 1px solid #ccc;
  padding: 16px 24px;
  text-align: left;
}

.course-offered-name {
  border-right: 1px solid #ccc;
  padding: 16px 24px;
  text-align: left;
  width: 60%;
}

.course-offered-cutoff {
  border-right: 1px solid #ccc;
  padding: 16px 24px;
  text-align: left;
}

tbody tr:nth-child(odd) {
  background-color: #f8f9fa;
}
tbody tr:nth-child(even) {
  background-color: #e9ecef;
}

.copyright {
  text-align: center;
  background-color: #033249;
  padding: 2.4rem 0 4.8rem 0;
  font-size: 1.4rem;
  color: #fff2eb;
  margin-top: auto;
}

/* ***************************************** */
/* Responsive */

@media (max-width: 88em) {
  .primary-heading {
    font-size: 3.2rem;
  }
  .nav-link {
    font-size: 2.2rem !important;
  }
  h2 {
    font-size: 2.4rem;
  }
  .course-offered-table,
  .overview-table {
    font-size: 1.8rem;
  }
}

@media (max-width: 66em) {
  .primary-heading {
    font-size: 2.4rem;
  }
  .nav-link {
    font-size: 1.8rem !important;
  }
  h2 {
    font-size: 2rem;
  }
}

@media (max-width: 45em) {
  .primary-heading {
    font-size: 2rem;
  }
  .header {
    padding: 0 4.8rem;
  }
  .nav-link {
    font-size: 1.5rem !important;
  }
  .logo {
    width: 8rem;
    height: 8rem;
  }
  h2 {
    font-size: 1.6rem;
  }
  .course-offered-table,
  .overview-table {
    font-size: 1.4rem;
  }
}

@media (max-width: 37em) {
  .building {
    height: 15rem;
    font-weight: 700;
  }
  .primary-heading {
    font-size: 1.4rem;
  }
  .copyright {
    font-size: 1rem;
  }
  .course-offered-table,
  .overview-table {
    font-size: 1.2rem;
    width: 70rem;
  }
  h2 {
    font-size: 1.4rem;
  }
  .logo {
    width: 6rem;
    height: 6rem;
  }
  .nav-link {
    font-size: 1.2rem !important;
  }
  .overview-data {
    width: 70%;
  }
}

@media (max-width: 28em) {
  .primary-heading {
    font-size: 1.2rem;
    font-weight: 700;
  }
  .building {
    height: 12rem;
  }
}

@media (max-width: 22em) {
  .primary-heading {
    font-size: 1rem;
    font-weight: 700;
  }
  .building {
    height: 8rem;
  }
  .copyright {
    font-size: 0.8rem;
  }
  .course-offered-table,
  .overview-table {
    font-size: 0.8rem;
  }

  h2 {
    font-size: 1rem;
  }
  .header {
    padding: 0 2.4rem;
  }
  .nav-link {
    font-size: 1rem !important;
  }
  .logo {
    width: 4.8rem;
    height: 4.8rem;
  }
}
